* {
  box-sizing: border-box;
}

h1 {
  color:rgb(255, 255, 255); background-color:darkslategray ;
  margin: 1rem;
  font-size: 4rem;
  width: max-content;
  text-align: center;
}
body {
  margin: 1rem;
}

h2 {
  width: max-content;
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

main {
  font-size: 1rem;
}

footer {
  color: white; background-color: darkslategrey;
}

div {
  margin: 10px;
  }

ol {
  list-style-type:decimal;
}

ul {
  list-style-type: circle;
}