* {
  box-sizing: border-box;
}

h1 {
  color:cornflowerblue; background-color:darkslategray ;
  margin: 1rem;
  font-size: 3rem;
}

main {
  font-size: 2rem;
  background-color: darkgrey;
}

footer {
  color: white; background-color: darkslategrey;
}

