* {
  box-sizing: border-box;
}

h1 {
  color:rgb(255, 255, 255); background-color:darkslategray ;
  margin: 1rem;
  font-size: 4rem;
  width: max-content;
  text-align: center;
}
body {
  margin: 1rem;
  background-color: rgb(97, 145, 218);
}

h2 {
  width: max-content;
  font-size: 3rem;
  color: white;
  background-color: darkslategray;
}

h3 {
  font-size: 2rem;
  color: white;
  background-color: rgb(4, 79, 102);
  width: max-content;
}

main {
  font-size: 1rem;
}

footer {
  color: white; background-color: darkslategrey;
  width: max-content;
}

div {
  margin: 10px;
  font-size: 20px;
  }

ol {
  list-style-type:decimal;
  width: 450px;
  margin-left: 10px;
  color: white;
  background-color: rgb(4, 79, 102)

}

ul {
  list-style-type: none;
  margin-left: 10px;
}

.background-image [
  
]